
.divis{
    margin-top: 20px;
}
.t1{
    margin-top: 20px;
    margin-left: -1300px;
}
.t2{
    margin-top: -660px;
    margin-left: -700px;
}
.t3{
    margin-top:-218px;
    margin-left: -100px;
}
.t4{
    margin-top: -132px;
    margin-left: 500px;
}
.t5{
    margin-top: -215px;
    margin-left: 1100px;
}
.key{
    margin-top:20px;
    margin-left:-1300px;
}
.ftext{
    margin-top: 610px;
    background-color: rgb(220, 216, 216);
    height: 50px;
    text-align: left;
}
.txt{
    font-weight: bold;
    margin-left: 10px;
}
.txt1{
    font-weight: bold;
    margin-left: 600px;
}
.key1{
    margin-left: -700px;
    margin-top: 20px;
}
.key2{
    margin-top:22px;
    margin-left: -120px;
}
.key3{
    margin-top: 20px;
    margin-left: 500px;
}
.key4{
    margin-top: 18px;
    margin-left: 1100px;
}