.pic2{
    margin-top: -1200px;
    margin-left: 500px;
    width: 400px;
    height: 300px;
}
.afridi{
width: 200px;
height:120px;
margin-left: 490px;
margin-top: -250px;
}
.card1{
    width: 700px;
    height: 100px;
    margin-top: -459px;
    margin-left: 500px;
    background-color: black;
    text-align: center;
    font-weight:bolder;
    font-size:larger;
    color: white;
}
.text1{
    width: 800px;
    height: 200px;
    margin-top: -50px;
    margin-left: 400px;
    text-align: left;
    padding-left: 230px;
    padding-top: -30px;
    font-weight:100;
    font-size:large;
    color: white;
}
/* .card2{
    margin-left: 400px;
    margin-top: -165px;
    width: 300px;
    border: none;

} */
.text2{
    margin-top: -150px;
    margin-left: 190px;
    font-size:medium;
    font-weight: bolder;
    width: 500px;
    border: none;
    color: black;
    background-color:white;
}
.txt{
    width: 800pxpx;
}
.tt{
    
    margin-left: 200px;
    font-weight: 100;
    font-size:small;
    width: 500px;
    color: rgb(106, 105, 101);

}